asttokens
colorama
comm
contourpy==1.3.2
cycler==0.12.1
debugpy
decorator
exceptiongroup
executing
fonttools==4.57.0
importlib_metadata
ipykernel
ipython
ipython_pygments_lexers
jedi
joblib==1.4.2
jupyter_client
jupyter_core
kiwisolver==1.4.8
matplotlib==3.10.1
matplotlib-inline
nest_asyncio
networkx==3.4.2
numpy==2.2.4
packaging==25.0
pandas==2.2.3
parso
pickleshare
pillow==11.2.1
platformdirs
prompt_toolkit
psutil
pure_eval
Pygments
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32
pyzmq
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
six==1.17.0
stack_data
threadpoolctl==3.6.0
tornado
traitlets
typing_extensions
wcwidth
zipp
